body {
  margin: 0;
  padding: 0;
  width: 100%;
  position: absolute;
}

.wallpaper{
  background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),  url(./Calculator.svg) right top  no-repeat;
  height: 100vh;
  background-size: contain;
  position: relative;
}

.logo{
  width: 5rem;
}

@media (max-width: 1000px) {
  .wallpaper{
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)),  url(./Calculator.svg) right top  no-repeat;
    height: 100vh;
    background-size: contain;
    position: relative;
  }
}

@media (max-width: 768px) {
  .wallpaper{
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgb(97, 218, 251, 0.5));
    height: 100vh;
    background-size: contain;
    position: relative;
  }
}



